<h1>L33tsp3ak!</h1>

<form action="/output">
  <div class="form-group">
    <label for="original">Give me a word or sentence, I will make it l33t.</label>
    <input id="s" name="original" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>