<h1>Cost to ship your parcel!</h1>

<form action="/output">
  <div class="form-group">
    <label for="weight">Weight of your parcel in lbs</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width of your parcel in inches</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="length">Length of your parcel in inches</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
  <label for="distance">Distance in miles</label>
  <input id="distance" name="distance" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>