<h3>Your parcel's volume <%= @volume %> square inch, weighs <%= @weight %> lbs,and  shipping distance <%= @distance %> miles .</h3>
<h3>This will cost you $<%= @shipping_cost %></h3>
<a href='/'>Return to home page</a>