<h1>Welcome</h1>

<form action="/pet" method="post">
  <div class="form-group">
    <label for="name">Please enter a name for your pet.</label>
    <input id="answer" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
